header{
    width: 100% !important; 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0; 
    z-index: 999 !important;
    /* overflow: hidden !important; */
    background-color: #ffffff;
}

.app-nav a.active{
/* border-bottom: 4px solid #08e6c2; */
border-bottom: 4px solid #08e6c2;
color: #08e6c2 !important

}

.app-nav a:hover{
    color: #08e6c2 !important;
    cursor: pointer;
    }
    

.app-logo{
    width: 50px !important;
    height: 50px !important;
    float: left;
 }

 

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}